.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 4rem;
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(2, minmax(auto, 400px));
        gap: 2rem;
        justify-items: center;
    }
}
@media (max-width: 480px) {
    .list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
