.header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: var(--secondary-background-color);
  padding: 1rem 2rem;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 1200px;*/
  /*margin: 0 auto;*/
}

.header h2 {
  font-size: 1.5rem;
  /*font-size: 14px;*/
  color: var(--text-color);
  margin: 0;
}

.theme_toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
}

.theme_toggle svg {
  font-size: 1.2rem;
}