html {
  box-sizing: border-box;
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}
:root {
  /* Light theme variables */
  --text-color-light: #000;
  --sec-text-color-light:#D8D8D8;
  --background-color-light: #F2F2F2;
 --secondary-background-color-light: #FFFFFF;
  --focus-color-light: #2B3743;

  /* Dark theme variables */
  --text-color-dark: #fff;
  --background-color-dark: #212E37;
  --secondary-background-color-dark: #2B3743;
  --focus-color-dark: #F2F2F2;
}

.lightTheme {
  --text-color: var(--text-color-light);
  --sec-text-color: var(--sec-text-color-light);
  --background-color: var(--background-color-light);
  --secondary-background-color: var(--secondary-background-color-light);
    --focus-color: var(--focus-color-light);
}

.darkTheme {
  --text-color: var(--text-color-dark);
  --sec-text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --secondary-background-color: var(--secondary-background-color-dark);
    --focus-color: var(--focus-color-dark);
}
#app {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; }

html {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

strong, b {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

